*{
    padding: 0px;
    margin: 0px;
}

.container{
    background-color: #5ABCB9;
    height: 2000px;
    text-align: center;
    padding-top: 35px;
}

.heading{
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.main{
    height: 600px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 12px;
    position: relative;
    left: 33%;
    bottom: 2%;
    
}

.btn{
    height: 120px;
    width: 120px;
    background-color: #ffffff;
    color: #5ABCB9;
    font-size: 45px;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

#reset{
    height: 50px;
    width: 200px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #26532B;
    color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    position: relative;
    bottom: 100px;
}
#newGame{
    height: 50px;
    width: 200px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #26532B;
    color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    
}
.newGame{
    font-size: 20px;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.msgContainer{
    height: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.msg{
    font-size: 25px;
    font-weight: bold;
    color: #26532B;
}
.hide{
    display: none;
}